// interpolación
$primary: crimson;
@use 'mixinsfunc';


:root {
  --primary: #{$primary};
}

.nav {
  background-color: steelblue;

  &__container {
    width: 90%;
    margin: auto;
    height: 70px;
    @include mixinsfunc.crear-flexbox(space-evenly);
    gap: 1;
  }

  &__item {
    color: #fff;
    text-decoration: none;

    &--active {
      text-decoration: underline;
    }

    // &:hover{
    //   color: black;
    // }
  }

  @media (min-width: 764px) {
    &__container {
      @include mixinsfunc.crear-flexbox(space-evenly);

    }
  }
}